<div class="row-fluid">
  <div class="span3"></div>
  <div class="span9">
    <h1>Rebel Alley</h1><small>The original Arrested Development remix site</small>.
  </div>
</div>
<div class="row-fluid">
	<div class="span3 left-main"></div>
	<div class="span6">
		<div class="hero-unit"><%= render @video %></div>
  	</div>
	<div class="span3 right-main"></div>
</div>
<div class="row-fluid">
  <div class="span5"></div>
  <div class="span4">
	<p>All assets on this site are properties of Imagine Television and Hurwitz Productions. Please visit <%= link_to "Netflix.com", "http://www.netflix.com" %> to watch Arrested Development season 4.</p>
  </div>
  <div class="span3"></div>
</div>
