<div id="legal">
	<%= render @items, category:'legal' %>
</div>
<div id="innovation">
	<%= render @items, category:'innovation' %>
</div>
<div id="platform">
	<%= render @items, category: 'platform' %>
</div>
