// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Quantico|Merriweather+Sans:400,700);
html,
body{
	height: 100%;
	background-color:black;
}

.body-container{
	top:50px;
	position:relative;
	margin:0;
}
#videoCanvas{
	position:absolute;
	top:0;
	left:130px;	
	display:none;
}
h1{
	font-size:3em;
	color:white;
	font-family:'Merriweather Sans', sans-serif;	
}
small{
	color:white;
}
#wrap{
	min-height:100%;
	height: auto !important;
	height:100%;
	margin: 0 auto -60px;
}

#push{
	height:110px;
	}

#footer{
	height:80px;
	border-top:white solid 5px;
	margin-top:30px;
	background-color: black;
	color:white;
	padding-top:10px;
	padding-left:100px;
	padding-right:100px;
}

#footer .muted{
	font-size:30px;
}

@media(max-width:767px){
	#footer{
		margin-left:-20px;
		margin-right:-20px;
		padding-left:20px;
		padding-right:20px;
	}
}

.excited-item{
	float:right;
	margin-right:20px;
}

.worried-item{
	margin-left:20px;
	float:left;
}

.worried-list{
	display:none;
}

.excited-list{
	display:none;
}

.hero-unit{
  width:768px;
  height:438px;
  margin: 0 auto;
  padding: 0px;
}

#item_content.worried-add{
	margin-left:20px;
	margin-top:18px;
	padding:12px;
	color:white;
	background-color:black;
	font-size:20px;
	float:left;
}

#email-form{
	padding: 0 10px;
	margin-top:20px; 
}
#item_content.excited-add{
	float:right;
	margin-right:20px;
	margin-top:18px;
	padding:12px;
	color:white;
	background-color:black;
	font-size:20px;
}


.btn.survey2.worried-item{
	font-size:20px;
	padding:10px;
	margin:20px 0 0 20px;
	}

.btn.survey2.excited-item{
	font-size:20px;
	padding:10px;
	margin:20px 20px 0 0;
	}

.survey1{
	font-size:80px;
	padding:40px;
	border: white solid 10px;
}

.survey1-group{
	width:100%;
	margin-top:20px;
}
.left-main{
	background-image:url(ra1.png);
	height:438px;
	
}
.right-main{
	background-image:url(ra2.png);
	height:438px;
}
