// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
label
{
	font-size:2em;
	color:white;
	font-weight:bold;
	font:Georgia;
}
